<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="KioskNumber" value="1"/>
    <add key="ODataV4ServiceURI" value="http://ktzsapdeverp.powerm.ru:8000/sap/opu/odata/sap/ZPASSLEANLOG_SRV_01/zpassleanlogSet"/>
  </appSettings>
</configuration>
